.section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3rem;
  margin: 10rem 50rem;
  justify-content: center;
  align-items: center;
}
.card {
  width: 40rem;
  height: 20rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  grid-column: span 3;
}
